* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spot-primary: rgba(20, 25, 34, 1);
    --spot-secondary: rgba(8, 11, 18, 1);
    --spot-footgrey: rgba(40, 40, 40, 1);
}

.btn {
    text-decoration: none;
    color: gray;
}

h1 {
    color: white;
    margin-left: 30px;
}

.più-ascolti {
    margin-left: 30px;
}

.row {
    display: flex;
    
}

.col-6 {

}

body {
    
}



/* RESPONSIVE */

@media screen and (min-width: 1440px) {
    
    
}

 





/* RESPONSIVE*/

/* nav */
.nav {
    padding-top: 30px;
    padding-left: 20px;
    width: calc(100% / 12 * 6);
    background-color: black;
    width: 15%;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 130px;
}

.personal {
    margin-top: 30px;
    list-style: none;
}

.img-home {
    width: 30px;
}

.home-text {
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-left: 5px;
}

.home, .search, .libreria {
    display: flex;
    align-items: center;
}

.img-search, .img-libreria {
    width: 30px;
    margin-top: 10px;
    filter: brightness(0.5);
}

.search-text, .libreria-text {
    color: grey;
    text-decoration: none;
    font-size: 10px;
    margin-left: 5px
}

.playlist {
    color: white;
    margin-top: 30px;
    font-size: 10px;
}

.crea-playlist {
    display: flex;
    align-items: baseline;
    color: grey;
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
    background-color:grey ;
    margin-top: 10px;
    margin-right: 10px;
}

.name-playlist {
    display: flex;
    flex-direction: column;
    color: grey;
    margin-top: 10px;
    font-size: 10px;
}

.footer-nav {
    position: relative;
    left: 0;
    top: 220px;
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    margin-bottom: 5px;
}

.download {
    margin-right: 10px;
    width: 10px;
    filter: brightness(0.5);
}

.install {
    color: grey;
    font-size: 10px;
}

.line-footer-nav {
    position: relative;
    
    margin-right: 30px;
    filter: brightness(0.5);
}

.down-artist {
    display: flex;
    margin-top: 5px;
}

.profile {
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.img-profile {
    width: 15px;
}

h4 {
    color: white;
}



/* nav */



/* header */

.container-header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: var(--spot-secondary);
    height: 80px;
    width: 100%;
}

.upgrade {
    color: white;
    background-color: transparent;
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
}


/* header */




/* central */

.central {
    width: calc(100% / 12 * 6);
    background-color: var(--spot-primary);
    height: 730px;
    width: 100%;
    overflow: auto;
}

/* main */

.container-main {
    
}

/* menù */
.menù {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.menù .btn {
    margin-top: 20px;
    padding-right: 30px;
    font-size: 15px;
}

.under {
    text-decoration: underline;
    text-decoration-color: chartreuse;
    
}
/* menù */



/* album */


.container-recently-played {

}

.playy {
    color: white;
    font-size: 80px;
    position: relative;
    left: 70px;
    top: 40px;
    
}

.pippo {
    margin-right: 30px;
    margin-top: 30px;
    height: 205px;
    width: 205px;
    background-image: url(../img/aquietplace.jpeg);
    background-size: cover;
    filter: brightness(0.5);
    
}



.card-rec-play, .card-john-doe, .card-artisti {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    
}

.rec-play, .john-doe{
    margin-top: 30px;
    width: 235px;
    padding-right: 30px;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h3 {
    color: white;
}

h5 {
    color: gray;
    margin-top: 10px;
}


/* artisti più popolari */

.img-avatar .artisti {
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 20px;

}

/* main */

/* central */






/* footer */




footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed ;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--spot-footgrey);
}

.in-ascolto {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.live-now {
    display: flex;
    align-items: center;
}

.img-live-now {
    width: 30px;
    margin-right: 10px;
}

.text-in-ascolto {
    font-size: 12px ;
}

h6 {
    font-size: 8px;
    color: rgb(105, 105, 105, 1);
}

.icon-in-ascolto {
    font-size: 10px;
    margin-left: 60px;
    color: rgb(105, 105, 105, 1);
}

.fa-heart {
    margin-right: 10px;
}

.reproduction {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.commands {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: white;
    gap: 50px;
}

.play-footer {
    font-size: 20px;
}

.time {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.time-number {
    color: white;
}

.line-time {
    margin-right: 60px;
    margin-left: 60px;
    height: 3px;
    width: 400px;
    background-color: grey;
    border-radius: 30px;
}

.option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.icon-option {
    font-size: 15px;
    color: white;
    
}

.fa-display, .fa-volume-high, .fa {
    margin-left: 20px;
}

.line-volume {
    margin-right: 10px;
    margin-left: 20px;
    height: 3px;
    width: 150px;
    background-color: grey;
    border-radius: 30px;
}

/* footer */

